:root {
--1royal-violet: #7400b8ff;
--2indigo-bloom: #6930c3ff;
--3slate-blue: #5e60ceff;
--4cloudy-sky: #5390d9ff;
--5fresh-sky: #4ea8deff;
--6sky-surge: #48bfe3ff;
--7sky-blue-light: #56cfe1ff;
--8pearl-aqua: #64dfdfff;
--9turquoise: #72efddff;
--10aquamarine: #80ffdbff;


--11alice-blue: #edf2fbff;
--12lavender: #e2eafcff;
--13lavender-2: #d7e3fcff;
--14periwinkle: #ccdbfdff;
--15periwinkle-2: #c1d3feff;
--16periwinkle-3: #b6ccfeff;
--17baby-blue-ice: #abc4ffff;
}